<div *ngIf="item">
    <div  style="opacity: 0.8;"  id="#exampleModalToggle2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="5" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
                <div >
                    <p>Are you sure Do You want to delete this account???</p>
                    <button (click)="delete()"class="btn btn-success">DELETE</button>
                    <button (click)="cancel()" class=" btn btn-success">Cancel</button>
                </div>
            </div>   
          </div>
        </div>
    </div>
</div>
