div{
    width:350px;
    height:1000px;
    border-width:1px;
    border-color:black;
    border-style:solid;
    float:left;
}
img{
    width:100%;
    height: 30%;
}
.clss img{
    width:101%;
    height:30%
}